@use "../abstract/colors" as *;
@use "../variables/mixins" as *;

.description {
  background-color: $back-gray;
  padding: 0 24px;
  text-align: center;

  @include mq(tablet) {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 34px;
  }

  &-header {
    padding-top: 64px;

    @include mq(tablet) {
      grid-column: 1/4;
      grid-row: 1/2;
    }

    p {
      margin: 14px 0 56px 0;
    }
  }

  &-content {
    @include mq(tablet) {
      grid-column: 1/5;
      grid-row: 2/3;
    }

    &-grid1,
    &-grid2 {
      @include mq(tablet) {
        display: flex;
        gap: 30px;
        margin: 0 auto;
      }
    }

    &-article {
      margin-bottom: 32px;

      @include mq(tablet) {
        min-width: 255px;
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 64px;
      }

      h3 {
        margin: 24px 0 16px 0;
      }

      &-image {
        width: 72px;
        height: 72px;
        margin: 0 auto;

        @include mq(tablet) {
          margin: 0;
        }
      }
    }
  }
}
