@use "../abstract/colors" as *;
@use "../variables/mixins" as *;

.description-container {
  background-color: $back-gray;
  @include mq(desktop-large) {
    margin-top: -288px;
  }
}

.description {
  padding: 0 24px;
  text-align: center;

  @include mq(tablet) {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 34px;
  }

  @include mq(desktop) {
    margin-top: -150px;
  }

  @include mq(desktop-large) {
    padding: 0 165px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &-header {
    padding-top: 64px;

    @include mq(tablet) {
      grid-column: 1/4;
      grid-row: 1/2;
    }

    @include mq(desktop) {
      width: 635px;
    }

    @include mq(desktop-large) {
      padding-top: 96px;
    }

    p {
      margin: 14px 0 56px 0;

      @include mq(desktop-large) {
        font-size: 18px;
        line-height: 28px;
        margin: 16px 0 72px 0;
      }
    }
  }

  &-content {
    @include mq(tablet) {
      grid-column: 1/5;
      grid-row: 2/3;
    }

    @include mq(desktop) {
      display: flex;
      gap: 30px;
    }

    &-grid1,
    &-grid2 {
      @include mq(tablet) {
        display: flex;
        gap: 30px;
        margin: 0 auto;
      }

      @include mq(desktop-large) {
        margin: 0;
      }
    }

    &-article {
      margin-bottom: 32px;

      @include mq(tablet) {
        min-width: 255px;
        width: 100%;
      }

      @include mq(desktop) {
        min-width: 0;
      }

      @include mq(desktop-large) {
        width: 255px;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 64px;

        @include mq(desktop-large) {
          padding-bottom: 94px;
        }
      }

      &-image {
        width: 72px;
        height: 72px;
        margin: 0 auto;

        @include mq(tablet) {
          margin: 0;
        }
      }

      h3 {
        margin: 24px 0 16px 0;

        @include mq(desktop-large) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      p {
        @include mq(desktop-large) {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.25px;
        }
      }
    }
  }
}
