// PRIMARY COLOR //
$dark-blue: hsl(233, 26%, 24%);
$green: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);

// NEUTRAL COLOR //
$light-blue: hsl(233, 8%, 62%);
$blue: hsl(220, 16%, 96%);
$gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
