@use "../abstract" as *;
@use "../variables/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  color: $dark-blue;
  font-weight: $light;
}

h2 {
  font-size: 32px;
  line-height: 38px;

  @include mq(desktop-large) {
    font-size: 40px;
    line-height: 64px;
  }
}

p {
  color: $light-blue;
  font-weight: $normal;
}

.button {
  background: linear-gradient(135deg, $green 0%, $cyan 99.58%);
  color: $white;
  font-weight: $bold;
  text-align: center;
  padding: 14px 0;
  width: 163px;
  height: 44px;
  border-radius: 22px;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.4;
    transition: all 0.4s ease;
  }
}

.text {
  font-size: 15px;
  line-height: 25px;
}
